<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741953799047-spcal9bsvclmokqlg1aimj08cfre0bcc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741953799047-spcal9bsvclmokqlg1aimj08cfre0bcc</string>
	<key>API_KEY</key>
	<string>AIzaSyDNgrkiQ1fOZvwC-x8y1lHmzjuZN4qvQ2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>741953799047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foda</string>
	<key>PROJECT_ID</key>
	<string>order-189fe</string>
	<key>STORAGE_BUCKET</key>
	<string>order-189fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741953799047:ios:67102cc225e84aca8e4922</string>
</dict>
</plist>